.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns of equal width */
  grid-template-rows: repeat(3, 1fr); /* Four rows of equal height */
  grid-gap: 0; /* Adjust the gap between grid items */
  width: 80%;
  height: 100vh;
}

.grid-item {
  padding: 2px;
  text-align: center;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Four columns of equal width */
    grid-template-rows: repeat(4, .5fr); /* Three rows of equal height */
    margin-left: 0;
    width: 75%;
    height: 50%
  }

  .grid-item {
    padding: 0;
    text-align: center;
    background-color: black;
  }
}
