.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  margin-left: 8rem;
  width: auto;
}

.aboutName {
  margin-bottom: .25em;
  font-size: 2rem;
}

.divider {
  width: 75%;
  height: 2px;
  background-color: white;
  margin-bottom: .5em;
}

.contactDetails {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.locationIcon {
  margin-top: 1em;
}

.aboutMe {
  width: 75%;
  font-size: 1.25rem;
}


@media (max-width: 600px) {
  .contact {
    background-color: black;
    margin-left: 0em;
    height: 100vh;
    width: auto;
    padding: 0;
  }

  .locationIcon {
    margin-top: 1em;
  }

  .aboutName {
    margin-top: 2em;
    font-size: 1.5em;
  }

  .aboutMe {
    margin-bottom: 0;
    font-size: 1.15em;
  }

  .aboutContact {
    margin-bottom: 1em;
  }
}
