.sliderContainer {
  width: 75%;
  height: 80%;
}

.swiper-slide {
  margin-top: 1em;
  height: 50%;
}

.sliderContainer img {
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 15.5em;
  height: 5em;
}

.swiper-pagination {
  margin-bottom: 5em;
}

@media (max-width: 600px) {
  .swiper-slide {
    margin-top: 5em;
    height: 50%;
  }

  .swiper-button-prev {
    margin-top: 7em;
    height: 5em;
  }
  
  .swiper-button-next {
    margin-top: 7em;
    height: 5em;
  }
}