.sliderContainer {
  /* background-color: red; */
  width: 50%;
  height: 50%;
}

/* .sliderContainer button {
  width: 5em;
  height: 2em;
} */

.sliderImage {
  margin-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
  width: 25%;
  height: 50%;
}