*, body, html, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  z-index: 2;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 8.5em;
  overflow-y: auto;
}

.navbar img {
  padding-bottom: 45px;
  width: 100%;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  width: 100%;
  height: 100%;
  color: lightgray;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a:hover {
  background-color: darkgray;
  color: black;
}

@media (max-width: 600px) {
  .navbar {
    top: 0;
    width: 100%;
    height: 2.25em;
    flex-direction: row;
    justify-content: space-between;
  }

  .image {
    display: none;
  }

  .icon {
    display: none;
  }

  .nav {
    /* display: flex; */
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

  nav li {
    height: 100%;
    width: 100%;
    margin-right: 0;
  }

  .link {
    height: 100%;
    width: 100%;
  }

  a {
    height: 100%;
    width: 100%;
  }

  a:hover {
    background-color: darkgray;
    color: black;
  }

  a {
    font-size: 1.33em;
  }
}
